<div class="container justify-content-center">
  <div class="gradient-border">
    <div class="card shadow rounded p-4 content">
      <form
        [formGroup]="resetForm"
        (ngSubmit)="resetPassword()">

        <h3 class="text-center mb-4 text-dark">
          Reset your password
        </h3>

        <div class="mb-3">

          <label class="form-label text-dark">
            Email
          </label>

          <input
            type="email"
            class="form-control"
            formControlName="email">

        </div>

        <div class="mb-3">

          <label class="form-label text-dark">
            User Type
          </label>

          <select
            class="form-select"
            formControlName="userType">

            <option value="Intern">
              Intern
            </option>

            <option value="Mentor">
              Mentor
            </option>

          </select>

        </div>

        <div class="mb-3">

          <label class="form-label text-dark">
            New Password
          </label>

          <input
            type="password"
            class="form-control"
            formControlName="newPassword">

        </div>

        <div class="mb-3">

          <label class="form-label text-dark">
            Confirm Password
          </label>

          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword">

        </div>

        <button
          type="submit"
          class="btn w-100 reset-btn">

          Reset

        </button>

        <p class="text-center mt-3 text-dark">

          Back to Login

          <a routerLink="/login">
            Login
          </a>
        </p>
      </form>
    </div>
  </div>
</div>